<section class="income_new report_new">
  <%= form_for(@income, html: { class: 'report_form' }) do |f| %>
    <div class="input_wrapper">
      <%= f.label :category %>
      <%= f.select(:category_id, @categories.collect {|c| [ c.name, c.id ] }) if @categories.any? %>
      <%= link_to 'Create new category', new_category_path, class: 'btn btn-success btn-m-top' %>
    </div>

    <div class="input_wrapper">
      <%= f.label :amount %>
      <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.text_field :amount, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="input_wrapper">
      <%= f.label :when %>
      <%= f.date_field :when, class: 'form-control' %>
    </div>

    <div class="input_wrapper text_area">
      <%= f.label :description %>
      <%= f.text_area :description, cols: 20, rows: 5, class: 'form-control' %>
    </div>

    <div class="input_wrapper">
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</section>
