<div class="expenses report_index">
  <h1><i class="fa fa-money color--red" aria-hidden="true"></i>Expenses</h1>
  <div class="reports_wrapper">
    <p class="sum_amount">Amount of expense -  <span class="color--red"><%= expenses_amount %>$</span></p>
    <div class="header_desc">
      <div class="amount">Amount</div>
      <div class="category">Category</div>
      <div class="when">When</div>
      <div class="description">Description</div>
      <div class="btns"></div>
    </div>
    <% expenses.each do |expense| %>
      <div class="report">
        <div class="amount">
          <span class="disp_mob">Amount:</span> <%= expense.amount %>$
        </div>
        <div class="category">
          <span class="disp_mob">Category:</span><%= expense.category.name %>
        </div>
        <div class="when">
          <span class="disp_mob">When:</span><%= expense.when %>
        </div>
        <div class="description">
          <span class="disp_mob">Description:</span> <%= expense.description %>
        </div>

        <div class="btns">
          <%= link_to 'See more', expense_path(expense), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_expense_path(expense), class: 'btn btn-success' %>
          <%= link_to 'Detele', expense, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
