<div class="incomes report_index">
  <h1><span class="glyphicon glyphicon-gift color--green" aria-hidden="true"> </span>Incomes</h1>
  <div class="reports_wrapper">
    <p class="sum_amount">Amount of income - <span class="color--green"><%= incomes_amount %>$</span></p>
    <% incomes.each do |income| %>
      <div class="report">
        <div class="description">
          <div class="amount">
            Amount - <%= income.amount %>$
          </div>

          <div class="category">
            Category - <%= income.category.name %>
          </div>

          <div class="when">
            When - <%= income.when %>
          </div>
        </div>

        <div class="btns">
          <%= link_to 'See more', income_path(income), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_income_path(income), class: 'btn btn-success' %>
          <%= link_to 'Detele', income, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
