<div class="incomes report_index">
  <h1><span class="glyphicon glyphicon-gift color--green" aria-hidden="true"> </span>Incomes</h1>
  <div class="reports_wrapper">
    <p class="sum_amount">Amount of income - <span class="color--green"><%= incomes_amount %>$</span></p>
    <div class="header_desc">
      <div class="amount">Amount</div>
      <div class="category">Category</div>
      <div class="when">When</div>
      <div class="description">Description</div>
      <div class="btns"></div>
    </div>
    <% incomes.each do |income| %>
      <div class="report">
        <div class="amount">
          <span class="disp_mob">Amount:</span><%= income.amount %>$
        </div>
        <div class="category">
          <span class="disp_mob">Category:</span> <%= income.category.name %>
        </div>
        <div class="when">
          <span class="disp_mob">When:</span> <%= income.when %>
        </div>
        <div class="description">
          <span class="disp_mob">Description:</span> <%= income.description %>
        </div>

        <div class="btns">
          <%= link_to 'See more', income_path(income), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_income_path(income), class: 'btn btn-success' %>
          <%= link_to 'Detele', income, method: :delete, data: { confirm: 'You sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
