<section class="home">
  <% if current_user %>
    <%= link_to 'Create Income', new_income_path, class: 'btn btn-lg btn-success' %>
    <%= link_to 'Create Expense', new_expense_path, class: 'btn btn-lg btn-danger' %>
    <%= render partial: 'search_reports', locals: { income_categories: @income_categories, expense_categories: @expense_categories } %>

    <div class="reports">
      <%= render partial: 'reports', locals: { incomes: @incomes, expenses: @expenses } %>
    </div>
  <% else %>
    <div class="center hero-unit">
      <h1>Welcome to the application "Personal finance tracking"</h1>
      <h2>The application will be available after registration / login</h2>
      <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-large btn-primary' %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-success' %>
    </div>
  <% end %>
</section>
