<section class="category_new">
  <%= form_for(@category) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :status %>
    <%= f.select :status, @category_keys %>

    <%= f.submit "Create category", class: "btn btn-large btn-primary" %>
  <% end %>
</section>
